/* 
Dark green - #bac6b9
Light green - #fafcf8
Button green - #466443
Text blue - #01373e
Text green - #6a7c69 
*/

body {
  background-color: #fafcf8;
  font: 1em sans-serif;
  font-weight: lighter;
  color:#01373e;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 600px){

}
section {
  width: 50%;
  height: 95%;
}

/* Left section */
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* Logo image and name */
nav {
  height: 10%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color:#01373e;
  width: 100%;
}
.logoname {
  padding-left: 5px;
}


/* Login box */
.loginForm{
  display: flex;
  flex-flow: column;
  font-size: 0.8em;
}

.welcome {
  font-size: 2.3em;
  align-self: center;
  margin: 0;

}
.details {
  margin-top: 2%;
  margin-bottom: 10%;
  align-self: center;
  font-weight: lighter;

}

label {
  margin: 6% 0 2% 0;
}

input {
  border: 2px solid #bac6b9;
  border-radius: 2%;
}

.checkinput {
  align-self: flex-start;
  margin: 4% ;
}

.rememberlabel {

}
.forgetlink {

}
.submitbutton {

}




/* Left side */
.ballimage {
  /* max-width:100%; */
  max-height: fit-content;
}

footer {
  border: 1px solid black
}
